# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/
uploads/*
# Environment Variables
.env

# Media Files (inputs/outputs)
*.mp4
*.mkv
*.avi
*.mov
*.wav
*.mp3
*.flac
*.aac

# OS metadata
.DS_Store
Thumbs.db
